/data.db
/harryslist/__pycache__/admin.cpython-36.pyc
/harryslist/__pycache__/models.cpython-36.pyc
/harryslist/__pycache__/views.cpython-36.pyc
/harryslist/migrations/0001_initial.py
/harryslist/migrations/__pycache__/0001_initial.cpython-36.pyc
/harryslist/migrations/0001_initial.pyA
venv
*.pyc
.env
