{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<a class="login-message" href= "{%url 'logout'%}">Whoops! you are already logged in! click here to logout if you would like to login to another user!</a>
{% else %}
<div class="login-background">
  <div class="login">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn-default" type="submit">Login</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
