{% extends 'index.html' %}

{% block content %}

<h2> Review Flagged Songs as Admin </h2>
<h3> Delete the songs that are not to you're liking... supreme leader </h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Song Name</th>
        <th scope="col">Album Name</th>
        <th scope="col">Artist Name</th>
        <th scope="col">Flagged Date</th>
        <th scope="col">Reviewed Status</th>
        <th scope="col">Deleted</th>
      </tr>
    </thead>
    <tbody>
    {% for r in review %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
        <td>{{ r.4 }}</td>
        <td>{{ r.5 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>User</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Username</th>
        <th scope="col">Password (Hash)</th>
        <th scope="col">admin</th>
      </tr>
    </thead>
    <tbody>
    {% for r in user %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>Artists</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
    {% for r in artist %}
      <tr>
        <td><img class="artist-img" src="{{r.0}}" alt=""></td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>Songs</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Song_ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Album_Name</th>
        <th scope="col">Name</th>
        <th scope="col">plays</th>
      </tr>
    </thead>
    <tbody>
    {% for r in song %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
        <td>{{ r.4 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>Album</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
    {% for r in album %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>Admin</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Admin ID</th>
        <th scope="col">Admin Email</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
    {% for r in admin %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>Review</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Review ID</th>
        <th scope="col">Song ID</th>
        <th scope="col">Admin ID</th>
        <th scope="col">Deleted</th>
        <th scope="col">Reviewed</th>
        <th scope="col">Flagged Date</th>
        <th scope="col">Review Date</th>
      </tr>
    </thead>
    <tbody>
    {% for r in review %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
        <td>{{ r.4 }}</td>
        <td>{{ r.5 }}</td>
        <td>{{ r.6 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>RateAlbums</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rate Album ID</th>
        <th scope="col">Rater User ID</th>
        <th scope="col">Owner User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Stars</th>
        <th scope="col">Rate Date</th>
      </tr>
    </thead>
    <tbody>
    {% for r in ratealbum %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
        <td>{{ r.4 }}</td>
        <td>{{ r.5 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<h3>RateSongs</h3>
<div class="table-background table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rate Song ID</th>
        <th scope="col">Rater User ID</th>
        <th scope="col">Song ID</th>
        <th scope="col">Name</th>
        <th scope="col">Stars</th>
        <th scope="col">Rate Date</th>
      </tr>
    </thead>
    <tbody>
    {% for r in ratesong %}
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
        <td>{{ r.4 }}</td>
        <td>{{ r.5 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock %}
