{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Browse our artists of the day</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Artist Name</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {% for r in artist %}
    <tr>
      <td>{{ r.0 }}</td>
      <td>{{ r.1 }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<a href= "{% url 'login' %}" >Oops! you must be logged in to view this content. click here to login!</a>
{% endif %}
{% endblock %}
